.DS_Store

node_modules
test
src
yarn.lock
package-lock.json

rollup.config.js
.babelrc
.eslintrc.js
.eslintignore
.gitignore

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.map
*.html
